Goal: <%= @goal.name %>
<br>

<% @insight.answers.each do |answer| %>
<div class="comment-container" data-controller="insert-in-list">
  <!-- Left div-->
  <div class = "left-comment-container">
      <%= answer.content %>
      <%= simple_form_for([@goal, @insight, @comment],
        data: {insert_in_list_target: "form",
        action: "submit->insert-in-list#send"
        }) do |f| %>
        <%= f.input :content %>
        <%= f.button :submit %>
      <% end %>
  </div>
  <!-- Right div-->
  <div class="right-comment-container">
    <div data-insert-in-list-target="items">
    <p>blah blah blah</p>
    </div>
  </div>
</div>
<% end  %>
