<h1>Goals I am collaborating on</h1>

<p>Hi <%= @user.name %></p>
<%= @collaborator %>
<p>My user id: <%= @user.id %></p>
<% @collaborators.each do |collaborator|%>
  <p>Goal name: <%= link_to collaborator.goal.name, goal_path(collaborator.goal.id) %></p>
  <p>Goal owner: <%= collaborator.goal.user.name %></p>
<% end %>
