<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
        <ul class="navbar-nav me-auto nav-link">
          <a class="navbar-brand" href= '/'>
            <%# <img src="/assets/goalgettericon2.svg" class="icon"> %>
             <svg version="1.0" id="a" xmlns="http://www.w3.org/2000/svg" width="40px" height="45.7167px" viewBox="0 0 245.68 280.79">
            <path class="icon" fill="currentColor" d="M228,210.6c-.11,11.65-.17,23.04,.08,34.63,.94,.07,1.89,.1,2.83,.23,7.36,1.07,12.88,6.27,14.27,12.87,2.05,9.77-2.29,19.64-12.98,21.79-1.53,.31-3.1,.64-4.65,.64-58.4,.03-116.81,.04-175.21,.01-10.22,0-19.76-2.97-28.28-8.33-12.39-7.81-20.03-19.27-23.15-33.6-.64-2.94-.86-6.03-.86-9.04C0,170.3-.02,110.79,.03,51.29c0-11.28,3.68-21.38,10.4-30.45C16.96,12.03,25.53,6,35.8,2.54,40.7,.89,45.87,0,51.15,0,110.16,.04,169.18,.04,228.19,0c4.45,0,8.48,1.24,11.8,4.04,3.25,2.74,5.03,6.5,5.49,10.77,.14,1.33,.05,2.69,.05,4.04,0,57.79-.02,115.58,.05,173.37,0,4.04-.61,7.8-3.04,11.03-3.11,4.13-7.06,6.95-12.5,7.05-.48,0-.95,.13-2.05,.3ZM131.49,66.63c-2.36-2.13-4.48-3.95-6.49-5.89-2.96-2.85-6.51-4.84-10.31-6.08-5.46-1.79-11.07-2.1-16.87-1.04-6.59,1.21-12.05,4.25-16.91,8.59-5.16,4.61-8.05,10.51-9.57,17.21-1.42,6.25-.93,12.38,1.18,18.28,1.81,5.08,4.9,9.5,8.77,13.31,14.47,14.25,28.99,28.44,43.37,42.79,2.75,2.75,5.57,4.29,9.76,3.16,.98-.75,2.35-1.59,3.48-2.68,7.57-7.3,15.12-14.61,22.61-21.98,6.55-6.44,12.91-13.07,19.55-19.4,3.96-3.78,7.03-8.05,9.28-13,3.06-6.72,4.12-13.65,2.42-20.91-2.39-10.2-8.23-17.64-17.62-22.37-3.63-1.83-7.46-2.97-11.41-3.46-3.12-.39-6.41-.4-9.5,.16-7.23,1.31-13.49,4.66-18.51,10.16-.9,.98-1.91,1.86-3.23,3.14Zm60.91,144.3c-1.5,0-2.6,0-3.7,0-44.78,0-89.56,0-134.34,0-1.47,0-2.94-.06-4.4,.06-3.91,.32-7.3,2.04-9.96,4.78-3.64,3.77-5.14,8.52-4.56,13.73,.57,5.1,2.42,9.49,6.97,12.6,3.74,2.56,7.9,3.22,12.08,3.23,45.15,.11,90.3,.07,135.44,.06,.82,0,1.63-.14,2.46-.21v-34.25Z"/>
            </svg>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </ul>
    <div class="collapse navbar-collapse nav-user" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto nav-link">
          <li class="nav-item active">
            <%= link_to "Goal", goals_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Highlight", root_path, class: "nav-link" %>
          </li>
        </ul>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "Action", "#", class: "dropdown-item" %>
              <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
