
  <div data-controller="insight">
    <div class="container insight-top">
      <%# <div class="d-flex justify-content-end"> %>
        <a data-action="click->insight#showInsights">
          <% if insight.photo.attached?%>
            <%= cl_image_tag insight.photo.key, class: "insight-img" %>
          <% else %>
            <%= image_tag "https://source.unsplash.com/random/?moutain", class: "insight-img" %>
          <% end %>
          <div align="left" class="p-2">
            <h5 id='insight-name'><strong><%= insight.name %></strong></h5>
            <p id='insight-summary'><%= insight.summary %></p>
          </div>
        </a>
      <%# </div> %>
    </div>

    <%# Insights Modal %>
    <div data-insight-target="insights" class="insight-bg position-fixed w-100 h-100 top-0 start-0">
    </div>
    <div data-insight-target="popleft" class="modal-popleft position-fixed w-100 h-100 top-0 start-0">
      <div class="container insights-screen">
        <%# To style %>
        <div class="insight-title">
          <div>
            <p class="m-0 p-0"><strong><%= insight.name %></strong></p>
            <p class="fs-6 m-0 p-0 fst-italic underline">Highlight specific text to save for future reference</p>
          </div>
          <i data-action="click->insight#closeInsights" class="fa fa-times fa-2x modal-close"></i>
        </div>
        <hr>

        <div data-controller="highlight" data-highlight-goal-value="<%= @goal.id %>" data-action="mouseup->highlight#selectText" class="d-flex flex-column border insight-content">
          <% insight.answers.each do |answer| %>
            <%# div for each qn, ans and comment %>
            <div class="container m-2">
              <div class="row">
                <%# qn and answer div %>
                <div class="col-8">
                  <div class="d-flex flex-column border p-2 fs-5">
                    <div class="border insight-question">
                      <%= answer.template_question.title %>
                    </div>

                    <div class="border insight-answer">
                      <%= answer.content %>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="d-flex flex-column border p-2 fs-6">
                    <% answer.comments.each do |comment| %>
                      <div class="insight-comment-box">
                        <div class="insight-user">
                          <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
                          <p class="mb-0"><%= comment.user.name %></p>
                        </div>
                        <div class="insight-comment">
                          <%= comment.content %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>

            <%# <div class="insight-row"> %>

              <%# comments div %>
            <%# </div> %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
