<h1>Goals#all</h1>
<div class="container">
  <div class="row">
    <% @goals.each do |goal| %>
      <div class="row">
        <a class="btn btn-flat" href="#"><%= goal.name %></a>
      </div>
      <div class="row">
        <a class="btn btn-flat" href="#"><%= goal.name %></a>
      </div>
      <div class="row">
        <a class="btn btn-flat" href="#"><%= goal.name %></a>
      </div>
      <div class="row">
        <a class="btn btn-flat" href="#"><%= goal.status %></a>
      </div>
    <% end %>
  </div>
</div>
<%= cl_image_tag("0wrv493qt76z7dtocmheatqw81eo",
      width: 400, height: 300, crop: :fill) %>
