<h1>Goals#all</h1>
<div class="container">
  <div class="row">
    <% @goals.each do |goal| %>
      <div class="col-12 col-lg-3">
        <%# <%= goal.goal_type %>
        <a class="btn btn-flat" href="#"><%= goal.goal_type %></a>
      </div>
      <div class="col-12 col-lg-3">
        <%# <%= goal.name %>
        <a class="btn btn-flat" href="#"><%= goal.name %></a>
      </div>
      <div class="col-12 col-lg-3">
        <%# <%= goal.description %>
        <a class="btn btn-flat" href="#"><%= goal.description %></a>
      </div>
      <div class="col-12 col-lg-3">
        <%# <%= goal.status %>
        <a class="btn btn-flat" href="#"><%= goal.status %></a>
      </div>
    <% end %>
  </div>
</div>
<%= cl_image_tag("11w0srhesxgcyfektw0a7sod2npo",
      width: 400, height: 300, crop: :fill) %>
