<p><%= @goal.name %></p>
<p><%= @goal.description %></p>
<h4>Hello</h4>
<div class="container">
  <div class="row">
    <% @goal.answers.each do |answer| %>
      <div class="col-12 col-lg-3">
        <%= answer.content %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Edit",  edit_goal_path(@goal.id)  %>
<%= link_to "Write your way",  new_goal_answer_path(@goal.id)  %>
