<p>Goal name: <%= @goal.name %></p>
<p>About my goal: <%= @goal.description %></p>
<h4>Insights</h4>

<%# Bing to style the top part %>
<%= link_to "Edit",  edit_goal_path(@goal.id)  %>
<%= link_to "Write your way",  new_goal_answer_path(@goal.id)  %>




<div class="d-flex mt-3">
  <%= link_to "New Insight",  goal_insight_path(@goal.id)  %>
  <% @goal.insights.each do |insight| %>
    <div class="insight-card">
      <%= render 'show_insights', insight: insight %>
    </div>
  <% end %>
</div>




<%# Collaborators flow %>


<%= render 'add_collaborators' %>

<%= render 'show_collaborators' %>
