<div class="goal-show-container">

<div class="container-xxl d-flex flex-row">
  <div class="card-trip">
    <%# <img src="./assets/images/job_change.jpg" /> %>
    <% if @goal.photo.attached?%>
        <%= cl_image_tag @goal.photo.key, class: "img-fluid" %>
    <% else %>
        <%= cl_image_tag "goal-page.jpeg", class: "img-fluid" %>
     <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @goal.name %></h2>
        <%= link_to "Edit",  edit_goal_path(@goal.id)  %>
      </div>
    </div>
  </div>
  <div>
    <div class="card-goal image margin">
      <p><%= @goal.description %></p>
    </div>
    <div class="card-goal image_two">
      <p><%= @goal.status %></p>
    </div>
  </div>
</div>

<%# <%= link_to "New Insight",  goal_insight_path(@goal) %>


<div data-controller="highlight">
  <p data-action="mouseup->highlight#selectText">
    Email pop-ups should highlight a benefit Before we go into how your pop-up
    should look, you have to understand that your pop-up is only as good as the
    value it's offering. If you're not offering something that your visitors
    genuinely care about, then nothing else matters.
  </p>
</div>






<%# <%= link_to "Write your way",  new_goal_answer_path(@goal.id)  %>
<div class="d-flex p-3 container border shadow">
  <div class="insight-new">
    <%= link_to new_goal_insight_path(@goal.id) do %>
      <i class="fa-regular fa-square-plus"></i>
      <span> Add Insight</span>
    <% end %>
  </div>

  <div class="insight-scroll">
    <% @goal.insights.each do |insight| %>
      <div class="insight-card">
        <%= render 'show_insights', insight: insight %>
      </div>
    <% end %>
  </div>
</div>
<br>
<%# Collaborators flow %>
<div class="d-flex p-3 container border shadow">
  <%= render 'add_collaborators' %>
  <%= render 'show_collaborators' %>
</div>

</div>
