<p>Goal name: <%= @goal.name %></p>
<p>About my goal: <%= @goal.description %></p>
<h4>Insights</h4>
<div class="container">
  <div class="row">
    <% @goal.insights.each do |insight| %>
      <div class="col-12 col-lg-3">
        <%= insight.name %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Edit",  edit_goal_path(@goal.id)  %>
<%= link_to "New Insight",  goal_insight_path(@goal.id)  %>
