<div class="container-xxl d-flex flex-row">
  <div class="card-trip">
    <%# <img src="./assets/images/job_change.jpg" /> %>
    <%= image_tag "job_change.jpg" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @goal.name %></h2>
      </div>
    </div>
  </div>
  <div>
    <div class="card-goal image margin" style="">
      <p><%= @goal.description %></p>
    </div>
    <div class="card-goal" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <p><%= @goal.status %></p>
    </div>
  </div>
</div>

<%# <%= link_to "New Insight",  goal_insight_path(@goal) %>

<%# <%= link_to "Write your way",  new_goal_answer_path(@goal.id)  %>

<div class="d-flex p-3 container border shadow">
  <div class="insight-card">
    <%= link_to "New Insight",  goal_insight_path(@goal.id)  %>
  </div>

  <% @goal.insights.each do |insight| %>
    <div class="insight-card">
      <%= render 'show_insights', insight: insight %>
    </div>
  <% end %>
</div>


<%# Collaborators flow %>

<div class="d-flex p-3 container border shadow">
  <%= render 'add_collaborators' %>
  <%= render 'show_collaborators' %>
</div>

<%= link_to "Edit",  edit_goal_path(@goal.id)  %>