<p>Goal name: <%= @goal.name %></p>
<p>About my goal: <%= @goal.description %></p>
<h4>Insights</h4>
<div class="container">
  <div class="row">
    <%# <% @goal.insights.each do |insight| %>
      <%# <div class="col-12 col-lg-3"> %>
      <%# <%= insight.name %>
      <%# </div>  %>
      <%# </div> %>
      raise
      <div class="card">
        <% if @goal.photo.attached? %>
          <%= cl_image_tag @goal.photo.key, class: "card-img-top", :cloud_name => 'dcakea82q' %>
        <%else%>
          No photo
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to @goal.name, goal_path(@goal) %></h5>
          <p class="card-text"><%= @goal.description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          <p>Answer 2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries……………………</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          <p>Answer 3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries……………………</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          <p>Answer 4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries……………………</p>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Edit",  edit_goal_path(@goal) %>
  <%= link_to "New Insight",  goal_insight_path(@goal) %>
