<div class="goal-show-container">

<div class="container-xxl d-flex flex-row">
  <div class="card-trip">
    <%# <img src="./assets/images/job_change.jpg" /> %>
    <% if @goal.photo.attached? %>
        <%= cl_image_tag @goal.photo.key, class: "img-fluid" %>
    <% else %>
        <%= image_tag "/assets/goal-page.jpg", class: "img-fluid" %>
     <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @goal.name %></h2>
        <%= link_to "Edit",  edit_goal_path(@goal.id)  %>
      </div>
    </div>
  </div>
  <div>
    <div class="card-goal image margin">
      <p><%= @goal.description %></p>
    </div>
    <div class="card-goal image_two">
      <p><%= @goal.status %></p>
    </div>
  </div>
</div>

<%# <%= link_to "New Insight",  goal_insight_path(@goal) %>

<%# <%= link_to "Write your way",  new_goal_answer_path(@goal.id)  %>
<div class="container-xxl d-flex p-3">
  <div class="insight-new p-2">
    <div class="heading-font fs-3">
      Insights
    </div>

    <div class="body-font fs-6">
      Get in touch with your inner self through free-writing. Respond to prompts that are designed to inspire you in your goal-setting journey.
    </div>

    <%= link_to new_goal_insight_path(@goal.id) do %>
      <p class="body-font mb-3 pb-2 fs-5"> Add Insight</p>
        <i class="fa-regular fa-square-plus fa-2xl insight-add"></i>
    <% end %>
  </div>

  <div class="insight-scroll">
    <% @goal.insights.each do |insight| %>
      <div class="insight-card">
        <%= render 'show_insights', insight: insight %>
      </div>
    <% end %>
  </div>
</div>

<br>

<%# Collaborators flow %>
<div class="container-xxl d-flex p-3 mb-3" data-controller="animation" data-animation-threshold-value="0.6">
  <div class="insight-new p-2">
    <div class="heading-font fs-3" data-animation-target="fadeInRight">
      Collabs
    </div>

    <div class="body-font fs-6" data-animation-target="fadeInRight">
      Get a fresh set of perspectives from friends. Ask your friends to share their perspectives on your insights by adding them as a collaborator.
    </div>

    <div class="container insight-top p-0">
      <%= render 'add_collaborators' %>
    </div>
  </div>

  <div class="insight-scroll" data-animation-target="fadeInLeft">
    <% @collaborators.each do |collab| %>
        <%= render 'show_collaborators', collab: collab %>
    <% end %>
  </div>
</div>
