<div class="insights-container">

     <h2><%= link_to @goal.name, goal_path(@goal.id), id: "goal-link" %></h2>
     <p><%= @goal.description %></p>

    <div class="insights-details-container">
      <h1><%= @insight.name%></h1>

      <div class="photo-qn-ans">
        <% if @insight.photo.attached?%>
          <%= cl_image_tag @insight.photo.key, class: "answer-photo" %>
        <% else %>
          <%= image_tag "insight_show.jpg", class: "answer-photo" %>
        <% end %>
        <br>
        <br>
        <% if @answer.nil? %>
            <% controller.redirect_to goal_insight_comments_path(@goal.id, @insight.id) %>
        <% else %>
          <h5 class="question"><%= @answer.template_question.title %></h5>
          <div id="insight-answer-form-text">
          <%= simple_form_for([@goal, @insight, @answer]) do |f| %>
            <%= f.input :content, label: "Free write your thoughts. Let your intuition guide you, write out whatever comes to mind" %>
            <%= f.association :template_question, as: :hidden %>
            <div class="d-flex justify-content-center">
            <%= f.submit "Next", class: "btn btn-primary", id: "form-button" %>
            </div>
          <% end %>
          </div>
          <div style="text-align:center;margin-top:40px;">
            <span class="step active"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div>
        <% end %>
      </div>
    </div>
</div>
